@font-face{
    font-family: 'TsangerXuanSanM-W03';
    src: url('../font/TsangerXuanSanM-W03.ttf');
    src: url('../font/TsangerXuanSanM-W03.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    font-family: 'TsangerXuanSanM-W03';
}

.default_input{
    border-radius: 5px;
    height: 30px;
    box-shadow: 1px 1px 6px #e9e9e9;
    text-indent: 1em;
    font-size: 14px;
    border: 2px solid rgba(125, 197, 193, 0);
}

.default_input:focus{
    border: 2px solid #c0c0c0;
}

.main_btn_style{
    height: 35px;
    border-radius: 5px;
    border: 0;
    background: #2a2a2a;
    color: #fff;
    box-shadow: 1px 1px 6px #e9e9e9;
}

.main_btn_style:hover{
    background: #585858;
}

.main_btn_style_none{
    height: 35px;
    border-radius: 5px;
    border: 0;
    background: #a5b0b3;
    color: #fff;
}

.secondary_button_style{
    height: 35px;
    border-radius: 5px;
    background: rgba(125, 197, 193, 0);
    border: 0.15rem solid #7dc5c1;
    color: #fff;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

span{
    cursor: default;
}

textarea{
    width: 98%;
    height: 180px;
    margin: 10px 0;
    resize: vertical;
    font-size: 16px;
    border: 0;
    font-family: 'TsangerXuanSanM-W03';
}

.input_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border: #c0c0c0 solid 2px;
    background: #fff;
}



/*Select**********************/
.select {
    display: inline-block;
    position: relative;
    height: 30px;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 2px solid rgba(192, 192, 192, 0);
    text-shadow: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #e9e9e9;
    z-index: 2;
}

.select:hover {
    border: 2px solid #c0c0c0;
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 5px 25px 5px 5px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;
}
/*****************************/

/*Content*********************/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 20px;
}

.option_line{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.option_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*****************************/

/*Header**********************/
.content_header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content_header_title{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.tool_title{
    margin-bottom: 25px;
}

.logo{
    width: auto;
    height: 40px;
    margin-left: 10px;
}
/*****************************/

/*Menu************************/
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: #343434;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.menu_title{
    width: 100%;
    padding: 15px 0;
    background: #2a2a2a;
    text-align: center;
}

.menu ul{
    width: 100%;
}

.menu ul li{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}

.menu ul li:hover{
    background: #404040;
}
/*****************************/

/*Dialog**********************/
.dialog_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dialog_pop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0.1rem 0.1rem #e4e4e4;
    z-index: 4;
}

.dialog_pop input{
    width: 50%;
    font-size: 0.7rem;
    color: #000;
    height: 2rem;
    text-indent: 1.5em;
    margin: 0.3rem 0;
}

.dialog_header{
    height: 0.3rem;
    width: 28rem;
    position: absolute;
    top: 0;
    border-radius: 2rem 2rem 0 0;
    background: #343434;
}

.dialog_progress{
    height: 0.3rem;
    width: 28rem;
    position: absolute;
    top: 0;
    border-radius: 2rem 2rem 0 0;
    background: #7dc5c1;
}

#progress {
    height: 0.3rem;
    background-color: #01da00;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    z-index: 10;
}

.dialog_title{
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.dialog_btn_line{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    color: #fff;
}

/*****************************/
